[submodule "libqtpf"]
	path = libqtpf
	url = git://gitlab.com/g76r/libqtpf.git
	pushURL = git@gitlab.com:g76r/libqtpf.git
[submodule "libp6core"]
	path = libp6core
	url = git://gitlab.com/g76r/libp6core.git
        pushURL = git@gitlab.com:g76r/libp6core.git
[submodule "libqron"]
        path = libqron
        url = git://gitlab.com/g76r/libqron.git
        pushURL = git@gitlab.com:g76r/libqron.git
