[submodule "libp6core"]
	path = libp6core
	url = https://gitlab.com/g76r/libp6core.git
        pushURL = git@gitlab.com:g76r/libp6core.git
[submodule "libqron"]
        path = libqron
        url = https://gitlab.com/g76r/libqron.git
        pushURL = git@gitlab.com:g76r/libqron.git
