[class^="navbar"],[class*=" navbar"] {
  margin-bottom: 10px;
}
span[class^="label"],span[class*=" label"] a {
  color: white;
}
[class^="icon-"], [class*=" icon-"] {
  width:auto;
}
/*.fa-fw{width:1.2857142857142858em;text-align:center}*/
/*[class^="fa-fw"],[class*=" fa-fw"] {
  width:1.2857142857142858em;
  text-align:center;
}*/
