span[class^="label"],span[class*=" label"] a {
  color: white; /* have white icons in label spans, which are used as buttons */
}
[class^="icon-"], [class*=" icon-"] {
  width:auto; /* disable fixed width icon */
  display:inline; /* enable &nbsp; before and after icon */
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  display:inline; /* enable &nbsp; before and after icon */
}
.pagination-frame {
  text-align: center;
}
.gridboard-component {
  border: 2px solid lightgrey;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 10px;
}
