span[class^="label"],span[class*=" label"] a {
  color: white; /* have white icons in label spans, which are used as buttons */
}
[class^="icon-"], [class*=" icon-"] {
  width:auto; /* disable fixed width icon */
  display:inline; /* enable &nbsp; before and after icon */
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  display:inline; /* enable &nbsp; before and after icon */
}
.pagination-frame {
  text-align: center;
}
.gridboard-component {
  border: 2px solid lightgrey;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 10px;
}
.manual-sidebar .nav a {
  color: black;
}
.manual-sidebar .nav .nav {
  /*display: none;*/
  padding-bottom: 10px;
}
/*.manual-sidebar .nav .active ul {
  display: block;
}*/
.manual-sidebar .nav .nav a {
  padding-left: 28px;
}
.manual-sidebar .active > a {
  color: #286090;
  border-left: 2px solid #286090;
  /*border-right: 2px solid #286090;
  background-color: #5bc0de;*/
}

